[submodule "client"]
	path = client
	url = https://github.com/JensUngerer/time-tracker-client.git
	branch = master
[submodule "common"]
	path = common
	url = https://github.com/JensUngerer/time-tracker-common.git
	branch = master
[submodule "documentation"]
	path = documentation
	url = https://github.com/JensUngerer/time-tracker-documentation.git
	branch = master
[submodule "server"]
	path = server
	url = https://github.com/JensUngerer/time-tracker-server.git
	branch = master
[submodule "serverNew"]
	path = serverNew
	url = https://github.com/JensUngerer/time-tracker-webpack-server.git
